.desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 10px 10px;
}

.desc_logo {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(0, 0, 0);
}

.desc_img {
    width: 100%;
    height: 100%;
}

.desc_data {
    margin-left: 15px;
}

.desc_name {
    font-weight: 600;
    font-size: 1.4rem;
}

.desc_status {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.1rem;
}

.desc_status p {
    margin-right: 5px;
}

.desc_info {
    font-size: 1.2rem;
    padding-top: 10px;
}

.desc_selectFile {
    height: 15px;
    width: 20px;
    color: blue;
}