.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    grid-area: header;
    background-color: #33cdc7;
    border-radius: 0px 0px 10px 10px;
}

.header_logo {
    height: 100%;
}

.header_logo img {
    height: 100%;
}