.block {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.dialogs {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.messages {
    font-size: 1.1rem;
    font-weight: 600;
}


