.block {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.dialogs {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.messages {
    font-size: 1.1rem;
    font-weight: 600;
}

.dialog {
    padding: 5px 0;
}

.dialog a{
    color: #000;
    text-decoration: none;
}

.dialog a:hover {
    color: rgb(225, 0, 0);
}

.dialog a.active {
    color: rgb(225, 0, 0);
}
