.message {
    max-width: 30%;
    margin: 5px 0;
    padding: 15px;
    color: #000;
    border: solid 1px rgb(255, 225, 225);
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}

.myMessage {
    background-color: rgb(197, 255, 236);
    align-self: flex-start;
}

.otherMessage {
    background-color: rgb(153, 255, 184);
    align-self: flex-end;
}