.nav {
    margin-right: 10px;
    grid-area: nav;
    background-color: rgb(0, 255, 76);
}

.nav_list {
    margin: 10px 5px;
}

.list_item {
    margin: 10px 5px;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.list_item a {
    color: #000;
    text-decoration: none;
}

.list_item a:hover{
    color: rgb(225, 0, 0);
    text-decoration: underline;
}

.list_item a.active{
    color: rgb(225, 0, 0);
    text-decoration: underline;
}