.nav {
    max-width: 100%;
    margin-right: 10px;
    grid-area: nav;
    background-color: #33cdc7;
    border-radius: 10px 10px 0 0;
}

.nav_list {
    margin: 10px 5px;
}

.list_item {
    margin: 10px 5px;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.list_item a {
    color: #000;
    text-decoration: none;
}

.list_item a:hover {
    color: #a64a00;
    text-shadow: 2px 1px 5px #92fffb;
}

.list_item a.active {
    color: #a64a00;
    text-shadow: 2px 1px 5px #92fffb;
}